article {
  overflow: hidden;
}

h1, h2 {
  color: #006500;
  text-align: center
}

.example-stretched-tabs {
  max-width: 1200px;
  margin: auto
}

.text {
  font-weight: bolder;
  color: #ffffff;
}

.h1-wrap {
  max-width: 1200px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  .h1-line-top {
    box-shadow: 0px -2px #e2e1e1;
  }

  .h1-underline {
    box-shadow: 0px 2px #e2e1e1;
  }

}
.image {
  max-width: 40px;
  object-fit: contain;
}
.p-plan {
  font-weight: bolder;
  a {
    text-decoration: none;
    color: #006500;
  }
  a:hover {
    color: #527532;
  }
}


/*==================================
  СМЯНА НА БЪЛГАРСКО С ЕВРОПЕЙСКО
=====================================*/
::ng-deep .mat-ink-bar {
  background-color: #de9d62 !important;
}
::ng-deep .mat-tab-group[mat-stretch-tabs]>.mat-tab-header .mat-tab-label {
  background-color: #527532;
}


ol {
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
  font: 15px 'trebuchet MS', 'lucida sans';
  padding: 0;
  margin-bottom: 4em;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol ol {
  margin: 0 0 0 2em;
}
ol {
  li {
    padding-left: 10px;
    margin-right: 10px;
  }
}

.rectangle-list a{
  position: relative;
  display: block;
  padding: .4em .4em .4em .8em;
  *padding: .4em;
  margin: .5em 0 .5em 2.5em;
  background: #ddd;
  color: #444;
  text-decoration: none;
  transition: all .3s ease-out;
}

.rectangle-list a:hover{
  background: #eee;
}

.rectangle-list a:before{
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -2.5em;
  top: 50%;
  margin-top: -1em;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
}

.rectangle-list a:after{
  position: absolute;
  content: '';
  border: .5em solid transparent;
  left: -1em;
  top: 50%;
  margin-top: -.5em;
  transition: all .3s ease-out;
}

.rectangle-list a:hover:after{
  left: -.5em;
}

.bg-list a:before {
  background: #97b568;
}
.lt-list a:before {
  background: #91acfc;
}

.bg-list a:hover:after {
  border-left-color: #97b568;
}
.lt-list a:hover:after{
  border-left-color: #91acfc;
}

/*==================
  RESPONSIVE DESIGN
====================*/
@media (max-width: 500px){}

@media (max-width: 360px){
  ol {
    li {
      padding-left: 20px;
      margin-right: 5px;
    }
  }
}
@media (max-width: 320px){
  ol {
    li {
      padding-left: 20px;
      margin-right: 5px;
    }
  }
}
