.example-spacer {
    flex: 1 1 auto;
}
.example-icon {
    padding: 0 14px;
}
#menu-icon {
    vertical-align: initial;
}
/*================================
    NAVIGATION
=================================*/
$green-transparent: rgba(140, 195, 74, 0.25);
$green: rgb(13, 131, 2);

$white: rgb(255, 255, 255);
$gray: rgb(100, 100, 100);

.mat-toolbar {
    background: $green-transparent;
    .logo-text{
      font-weight: bolder;
      font-family: "Times New Roman", Times, serif;
      font-size: 1.3em;
    }
    .prz-text {
      color: white;
    }
    .bg-text {
      color: #1b660b;
    }

}
.mat-nav-list {
    padding-top: 0 !important;
}
.a-top {
    color: $white;
    font-size: 14px;

}
.mat-list-base .mat-list-item {
    width: initial !important;
    height: 48px !important;
}


::ng-deep .my-home-icon {
    margin-top: 10px;
}

.nav-list {
    float: left;
    position: relative;

    .mat-icon-button {
        width: 20px;
        flex-shrink: initial;
        color: $white;
    }
    .nav-dropdown {
        z-index: 999;
        display: none;
        position: absolute;
        top:48px;
        left: 0;
        padding: 5px 10px 0;
        background: #fafafa;
        border-top: 1px solid rgb(190, 190, 190);
        border-bottom: 2px solid rgb(190, 190, 190);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        .sub-menu {
            height: 40px;
            border-bottom: 1px solid rgb(190, 190, 190);
            .a-bottom {
                color: $gray;
                font-size: 13px;
            }
            .a-bottom:hover {
                color: $green;
            }
            .bottom-active {
                color: $green;
            }
        }
        .sub-menu:last-child {
            border-bottom: none;
        }
    }
    /* ===============================================
      Решение ако се скрива дропдаун менюто в ляво
      В компонента се добавя клас в зависимост от избора Виж компонента!
    =========================================*/
    .practices {
        left: -80px;
    }
}
.nav-list:hover {
    background: $white;
    .a-top {
        color: $green
    }
    .mat-icon-button {
        color: $green
    }
}
.nav-list:hover .nav-dropdown {
    display: block;
}
.nav-list-active {
    background: $white;
    .active-non-link, .btn-active {
        color: $green
    }
}
.nav-list-active .active {
    color: $green;
}


#navigation-button {
    background: #33691E !important;
    color: $white;
}
/*----------- ФИКСИРАНА НАВИГАЦИЯ ------------*/
.navbar-fixed-top {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    background-color: $white;
    border-bottom: 1px solid $green;
    transition: all .5s;
    .a-top {
        color: $gray;
    }
    .mat-icon-button {
        color: $gray;
    }
    #navigation-button {
        background-color: #8bc34a !important;
        color: #000000;
    }
    .nav-list-active .active {
        color: $green;
    }
    .nav-list-active {
        background: $white;
        .active-non-link, .btn-active {
            color: $green
        }
    }
    .prz-text {
      color:#646464;
    }
}
/*================================
    КРАЙ NAVIGATION
=================================*/

/*================================
    HEADER AND LOGO
=================================*/
.p-in-header {
    display: inline;
    color: rgb(255, 255, 255)
}
#aa-practices, #aa-documents, #aa-products, #aa-crops, #aa-contacts,
#aa-management, #aa-phases, #aa-formulations, #aa-registers, #aa-legislation  {
    height: 200px;
    background-size: cover;
    padding-bottom: 0 !important;
    font-weight: normal;
}
#header-email {
    border-bottom: 1px solid white;
    color: white;
    height: 30px;
    padding-top: 0  !important;
    .email {
        margin-left: 16px;
        font-size: 17px;
    }
}

.bredacrumb {
    padding-top: 20px;
    text-align: center;
    .bredacrumb-link {
        text-decoration: none;
        color: $white;
    }
}
.p-up {
    font-size: 1.5em;
}
.p-down {
    font-size: 1em
}

.image-logo {
  object-fit: contain;
  width: 48px;
  height: 50px;
  margin-right: 5px;
}

.medium-logo {
  display: none;
}

.small-logo {
  display: none;
}

/*================================
    END HEADER AND LOGO
=================================*/

/*================================
   RESPONSIVE DESIGN
=================================*/
/*-------------------------------
    Shift NAV BAR SMALL BUTTIN
 -------------------------------*/
 @media (min-width: 891px) {
    #navigation-button {
        display: none;
    }
    #aa-legislation {
      background-image: url('../../../assets/img/header-bg/legislation-bg.jpg');
    }
    #aa-practices {
        background-image: url('../../../assets/img/header-bg/practices-bg.jpg');
    }
    #aa-documents {
        background-image: url('../../../assets/img/header-bg/documents-bg.jpg');
    }
    #aa-products {
        background-image: url('../../../assets/img/header-bg/products-bg.jpg');
    }
    #aa-crops {
        background-image: url('../../../assets/img/header-bg/crops-bg.jpg');
    }
    #aa-contacts {
        background-image: url('../../../assets/img/header-bg/contacts-bg.jpg');
    }
    #aa-management {
        background-image: url('../../../assets/img/header-bg/management-bg.jpg');
    }
    #aa-phases {
        background-image: url('../../../assets/img/header-bg/phases-bg.jpg');
    }
    #aa-formulations {
        background-image: url('../../../assets/img/header-bg/formulations-bg.jpg');
    }

    #aa-registers {
        background-image: url('../../../assets/img/header-bg/registers-bg.jpg');
    }
}
@media (max-width: 890px) {
    #navigation-top {
        display: none;
    }
    #aa-legislation {
      background-image: url('../../../assets/img/header-bg/legislation-bg-955px.jpg');
    }
    #aa-practices {
        background-image: url('../../../assets/img/header-bg/practices-bg-955px.jpg');
    }
    #aa-documents {
        background-image: url('../../../assets/img/header-bg/documents-bg-955px.jpg');
    }
    #aa-products {
        background-image: url('../../../assets/img/header-bg/products-bg-955px.jpg');
    }
    #aa-crops {
        background-image: url('../../../assets/img/header-bg/crops-bg-955px.jpg');
    }
    #aa-contacts {
        background-image: url('../../../assets/img/header-bg/contacts-bg-955px.jpg');
    }
    #aa-management {
        background-image: url('../../../assets/img/header-bg/management-bg-955px.jpg');
    }
    #aa-phases {
        background-image: url('../../../assets/img/header-bg/phases-bg-955px.jpg');
    }
    #aa-formulations {
        background-image: url('../../../assets/img/header-bg/formulations-bg-955px.jpg');
    }
    #aa-registers {
        background-image: url('../../../assets/img/header-bg/registers-bg-955px.jpg');
    }
}
/*-------------------------------
    END Shift NAV BAR SMALL BUTTIN
-------------------------------*/
/* ##Device = Desktops ##Screen = 1281px to higher resolution desktops */
@media (min-width: 1281px) {}

/* ##Device = Laptops, Desktops ##Screen = B/w 1025px to 1280px*/
@media (min-width: 1025px) and (max-width: 1280px) {}

/* ##Device = Tablets, Ipads (portrait) ##Screen = B/w 768px to 1024px*/
@media (min-width: 768px) and (max-width: 1024px) {
    #aa-legislation {
      background-image: url('../../../assets/img/header-bg/legislation-bg-768px.jpg');
    }
    #aa-practices {
        background-image: url('../../../assets/img/header-bg/practices-bg-768px.jpg');
    }
    #aa-documents {
        background-image: url('../../../assets/img/header-bg/documents-bg-768px.jpg');
    }
    #aa-products {
        background-image: url('../../../assets/img/header-bg/products-bg-768px.jpg');
    }
    #aa-crops {
        background-image: url('../../../assets/img/header-bg/crops-bg-768px.jpg');
    }
    #aa-contacts {
        background-image: url('../../../assets/img/header-bg/contacts-bg-768px.jpg');
    }
    #aa-management {
        background-image: url('../../../assets/img/header-bg/management-bg-768px.jpg');
    }
    #aa-phases {
        background-image: url('../../../assets/img/header-bg/phases-bg-768px.jpg');
    }
    #aa-formulations {
        background-image: url('../../../assets/img/header-bg/formulations-bg-768px.jpg');
    }
    #aa-registers {
        background-image: url('../../../assets/img/header-bg/registers-bg-768px.jpg');
    }
}

/* ##Device = Tablets, Ipads (landscape) ##Screen = B/w 768px to 1024px*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #aa-legislation {
      background-image: url('../../../assets/img/header-bg/legislation-bg-768px.jpg');
    }
    #aa-practices {
        background-image: url('../../../assets/img/header-bg/practices-bg-768px.jpg');
    }
    #aa-documents {
        background-image: url('../../../assets/img/header-bg/documents-bg-768px.jpg');
    }
    #aa-products {
        background-image: url('../../../assets/img/header-bg/products-bg-768px.jpg');
    }
    #aa-crops {
        background-image: url('../../../assets/img/header-bg/crops-bg-768px.jpg');
    }
    #aa-contacts {
        background-image: url('../../../assets/img/header-bg/contacts-bg-768px.jpg');
    }
    #aa-management {
        background-image: url('../../../assets/img/header-bg/management-bg-768px.jpg');
    }
    #aa-phases {
        background-image: url('../../../assets/img/header-bg/phases-bg-768px.jpg');
    }
    #aa-formulations {
        background-image: url('../../../assets/img/header-bg/formulations-bg-768px.jpg');
    }
    #aa-registers {
        background-image: url('../../../assets/img/header-bg/registers-bg-768px.jpg');
    }

}

/* ##Device = Low Resolution Tablets, Mobiles (Landscape) ##Screen = B/w 481px to 767px*/
@media (min-width: 481px) and (max-width: 767px) {
    #aa-legislation {
      background-image: url('../../../assets/img/header-bg/legislation-bg-481px.jpg');
    }
    #aa-practices {
        background-image: url('../../../assets/img/header-bg/practices-bg-481px.jpg');
    }
    #aa-documents {
        background-image: url('../../../assets/img/header-bg/documents-bg-481px.jpg');
    }
    #aa-products {
        background-image: url('../../../assets/img/header-bg/products-bg-481px.jpg');
    }
    #aa-crops {
        background-image: url('../../../assets/img/header-bg/crops-bg-481px.jpg');
    }
    #aa-contacts {
        background-image: url('../../../assets/img/header-bg/contacts-bg-481px.jpg');
    }
    #aa-management {
        background-image: url('../../../assets/img/header-bg/management-bg-481px.jpg');
    }
    #aa-phases {
        background-image: url('../../../assets/img/header-bg/phases-bg-481px.jpg');
    }
    #aa-formulations {
        background-image: url('../../../assets/img/header-bg/formulations-bg-481px.jpg');
    }
    #aa-registers {
        background-image: url('../../../assets/img/header-bg/registers-bg-481px.jpg');
    }

    .big-logo {
      display: none;
    }

    .medium-logo {
      display: initial;
    }

    .small-logo {
      display: none;
    }
}

/* ##Device = Most of the Smartphones Mobiles (Portrait) ##Screen = B/w 320px to 479px*/
@media (min-width: 320px) and (max-width: 480px) {
    #aa-legislation {
      background-image: url('../../../assets/img/header-bg/legislation-bg-396px.jpg');
    }
    #aa-practices {
        background-image: url('../../../assets/img/header-bg/practices-bg-396px.jpg');
        height: 170px;
    }
    #aa-documents {
        background-image: url('../../../assets/img/header-bg/documents-bg-396px.jpg');
        height: 170px;
    }
    #aa-products {
        background-image: url('../../../assets/img/header-bg/products-bg-396px.jpg');
        height: 170px;
    }
    #aa-crops {
        background-image: url('../../../assets/img/header-bg/crops-bg-396px.jpg');
        height: 170px;
    }
    #aa-contacts {
        background-image: url('../../../assets/img/header-bg/contacts-bg-396px.jpg');
        height: 170px;
    }
    #aa-management {
        background-image: url('../../../assets/img/header-bg/management-bg-396px.jpg');
        height: 170px;
    }
    #aa-phases {
        background-image: url('../../../assets/img/header-bg/phases-bg-396px.jpg');
    }
    #aa-formulations {
        background-image: url('../../../assets/img/header-bg/formulations-bg-396px.jpg');
    }
    #aa-registers {
        background-image: url('../../../assets/img/header-bg/registers-bg-396px.jpg');
    }
    #header-email {
        display: none;
    }
    .p-in-header {
        font-size: .9em;
    }

    .big-logo {
      display: none;
    }

    .medium-logo {
      display: none;
    }

    .small-logo {
      display: initial;
    }
}

@media (max-width: 320px){
    #aa-legislation {
      background-image: url('../../../assets/img/header-bg/legislation-bg-396px.jpg');
    }
    #aa-practices {
        background-image: url('../../../assets/img/header-bg/practices-bg-396px.jpg');
        height: 170px;
    }
    #aa-documents {
        background-image: url('../../../assets/img/header-bg/documents-bg-396px.jpg');
        height: 170px;
    }
    #aa-products {
        background-image: url('../../../assets/img/header-bg/products-bg-396px.jpg');
        height: 170px;
    }
    #aa-crops {
        background-image: url('../../../assets/img/header-bg/crops-bg-396px.jpg');
        height: 170px;
    }
    #aa-contacts {
        background-image: url('../../../assets/img/header-bg/contacts-bg-396px.jpg');
        height: 170px;
    }
    #aa-management {
        background-image: url('../../../assets/img/header-bg/management-bg-396px.jpg');
        height: 170px;
    }
    #aa-phases {
        background-image: url('../../../assets/img/header-bg/phases-bg-396px.jpg');
    }
    #aa-formulations {
        background-image: url('../../../assets/img/header-bg/formulations-bg-396px.jpg');
    }
    #aa-registers {
        background-image: url('../../../assets/img/header-bg/registers-bg-396px.jpg');
    }
    #header-email {
        display: none;
    }
    .p-in-header {
        font-size: .9em;
    }

    .big-logo {
      display: none;
    }

    .medium-logo {
      display: none;
    }

    .small-logo {
      display: initial;
    }
}

/* ##Device = Low Resolution Tablets, Mobiles (Landscape) ##Screen = B/w 481px to 767px*/
@media (max-width: 740px) and (max-height: 420px) {
    #aa-legislation {
      background-image: url('../../../assets/img/header-bg/legislation-bg-481px.jpg');
    }
    #aa-practices {
        background-image: url('../../../assets/img/header-bg/practices-bg-481px.jpg');
        height: 150px;
    }
    #aa-documents {
        background-image: url('../../../assets/img/header-bg/documents-bg-481px.jpg');
        height: 150px;
    }
    #aa-products {
        background-image: url('../../../assets/img/header-bg/products-bg-481px.jpg');
        height: 150px;
    }
    #aa-crops {
        background-image: url('../../../assets/img/header-bg/crops-bg-481px.jpg');
        height: 150px;
    }
    #aa-contacts {
        background-image: url('../../../assets/img/header-bg/contacts-bg-481px.jpg');
        height: 150px;
    }
    #aa-management {
        background-image: url('../../../assets/img/header-bg/management-bg-481px.jpg');
        height: 150px;
    }
    #aa-phases {
        background-image: url('../../../assets/img/header-bg/phases-bg-481px.jpg');
    }
    #aa-formulations {
        background-image: url('../../../assets/img/header-bg/formulations-bg-481px.jpg');
    }
    #aa-registers {
        background-image: url('../../../assets/img/header-bg/registers-bg-481px.jpg');
    }
    #header-email {
        display: none;
    }
    .p-in-header {
        font-size: .9em;
    }
}
