<article>
    <div class="h1-wrap">
        <hr class="h1-line-top">
        <h1>
            КАЛКУЛАТОР<br/>
            Калкулатор за изчисляване на необходимото количество от Продукт за Растителна Защита за единица площ.
        </h1>
        <hr class="h1-underline">
    </div>

    <div class="h1-wrap">
        <div class="div-table">
            <div class="div-table-row">
                <div class="div-sell container">
                    <h2>КАЛКУЛАТОР</h2>
                    
                    <form class="create-form" [formGroup]="calculatorForm"  (ngSubmit)="onSubmit(calculatorForm.value)">
                        <fieldset class="fieldset">
                            <legend>Данни за дозата:</legend>
                            <div class="wrap-dose">
                                <div class="dose-input-div" >
                                    <label for="dose" class="label-for-dose">Доза:</label>
                                    <input type="number" 
                                        [(ngModel)] = "dose"
                                        formControlName = "dose"
                                        class="dose-input" id="dose"
                                        required min="0.01" max="999999" maxlength="6">
                                </div>
                                <div class="dose-radio-div" >
                                    <label id="dose-radio-group-label">Избери мерната единица!</label>
                                    <mat-radio-group
                                        aria-labelledby="dose-radio-group-label"
                                        class="example-radio-group cal-row"
                                        name="units"
                                        [(ngModel)]="selectedUnit"
                                        formControlName = "units"
                                        required>
                                        <mat-radio-button class="example-radio-button num"  *ngFor="let unit of units; index as i" [value]="i">
                                            {{unit}}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div class="inform-div inform-top" *ngIf="calculatorForm.get('dose').invalid || calculatorForm.get('units').invalid ">
                                <p class="text-danger">Въведи желаната доза и избери мерната единица!</p>
                            </div>
                            <div class="inform-div inform-result" *ngIf="calculatorForm.get('dose').valid && calculatorForm.get('units').valid " >
                                <ul *ngFor="let unit of units; index as i">
                                    <li *ngIf="i === 0 && i === selectedUnit && dose != 1" class="text-success">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">thumb_up</mat-icon>
                                        Избрана е доза - {{ dose }} милилитра на декар
                                    </li>
                                    <li *ngIf="i === 0 && i === selectedUnit && dose === 1" class="text-success">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">thumb_up</mat-icon>
                                        Избрана е доза - {{ dose }} милилитър на декар
                                    </li>

                                    <li *ngIf="i === 1 && i === selectedUnit && dose != 1" class="text-success">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">thumb_up</mat-icon>
                                        Избрана е доза - {{ dose }} литра на декар
                                    </li>
                                    <li *ngIf="i === 1 && i === selectedUnit && dose === 1" class="text-success">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">thumb_up</mat-icon>
                                        Избрана е доза - {{ dose }} литър на декар
                                    </li>

                                    <li *ngIf="i === 2 && i === selectedUnit && dose != 1" class="text-success">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">thumb_up</mat-icon>
                                        Избрана е доза - {{ dose }} грама на декар
                                    </li>
                                    <li *ngIf="i === 2 && i === selectedUnit && dose === 1" class="text-success">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">thumb_up</mat-icon>
                                        Избрана е доза - {{ dose }} грам на декар
                                    </li>

                                    <li *ngIf="i === 3 && i === selectedUnit && dose != 1" class="text-success">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">thumb_up</mat-icon>
                                        Избрана е доза - {{ dose }} килограма на декар
                                    </li>
                                    <li *ngIf="i === 3 && i === selectedUnit && dose === 1" class="text-success">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">thumb_up</mat-icon>
                                        Избрана е доза - {{ dose }} килограм на декар
                                    </li>

                                    <li *ngIf="i === 4 && i === selectedUnit && dose >= 10"class="text-danger">
                                        ВНИМАНИЕ! Няма продукт с такава регистрация! 
                                    </li>
                                    <li *ngIf="i === 4 && i === selectedUnit && dose < 10 "class="text-success">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">thumb_up</mat-icon>
                                        Избрана е доза - {{ dose }} процентен разтвор
                                    </li>
                                    <li *ngIf="i >= 5" class="text-danger">
                                        Въведи коректни данни
                                    </li>
                                  </ul>
                            </div>
                        </fieldset>

                        <fieldset class="fieldset">
                            <legend>Данни за площта:</legend>
                            <div class="wrap-area">
                                <div class="area-input-div" >
                                    <label for="area" class="label-for-area">Площ:</label>
                                    <br>
                                    <input type="number" 
                                        [(ngModel)] = "area"
                                        formControlName = "area"
                                        class="area-input" id="area"
                                        required min="1" max="9999999" maxlength="7">
                                </div>
                                <div class="area-radio-div" >
                                    <label id="area-radio-group-label">Избери мерната единица!</label>
                                    <mat-radio-group
                                        aria-labelledby="area-radio-group-label"
                                        class="example-radio-group cal-row"
                                        name="areaUnits"
                                        [(ngModel)]="selectedAreaUnit"
                                        formControlName = "areaUnits"
                                        required>
                                        <mat-radio-button class="example-radio-button num"  *ngFor="let unit of areaUnits; index as i" [value]="i" >
                                            {{unit}}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div class="inform-div invorm-bottom" *ngIf="calculatorForm.get('area').invalid || calculatorForm.get('areaUnits').invalid ">
                                <p class="text-danger">Въведи площта за третиране и избери мерната единица!</p>
                            </div>
                            <div class="inform-div inform-result" *ngIf="calculatorForm.get('area').valid && calculatorForm.get('areaUnits').valid " >
                                <ul *ngFor="let unit of areaUnits; index as i">
                                    <li *ngIf="i === 0 && i === selectedAreaUnit && area != 1" class="text-success">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">thumb_up</mat-icon>
                                        Площ за третиране - {{ area }} квадратни метра
                                    </li>
                                    <li *ngIf="i === 0 && i === selectedAreaUnit && area === 1" class="text-success">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">thumb_up</mat-icon>
                                        Площ за третиране - {{ area }} квадратен метрър
                                    </li>

                                    <li *ngIf="i === 1 && i === selectedAreaUnit && area != 1" class="text-success">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">thumb_up</mat-icon>
                                        Площ за третиране - {{ area }} декара
                                    </li>
                                    <li *ngIf="i === 1 && i === selectedAreaUnit && area === 1" class="text-success">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">thumb_up</mat-icon>
                                        Площ за третиране - {{ area }} декар
                                    </li>
                                    <li *ngIf="i >= 2" class="text-danger"> 
                                        Въведи коректни данни
                                    </li>
                                  </ul>
                            </div>
                        </fieldset>

                        <fieldset class="fieldset fieldset-btn">
                            <div class="btn-wrapp">
                                <button mat-raised-button class="btn" color="primary" type="submit" [disabled]="!calculatorForm.valid" title="Калкулирай"> = </button>
                                <button mat-raised-button class="btn" color="warn" (click)="onReset()" title="Изчисти"> C </button>
                            </div>
                        </fieldset>
                    </form>
                    <div class="result-div">
                        <fieldset class="fieldset result">
                            <!-- <legend>РЕЗУЛТАТ</legend> -->
                            <!-- <p *ngIf="selectedAreaUnit === 1">
                                За третиране на {{ area }} <span *ngIf="area === 1">декар</span><span *ngIf="area !== 1">декарa</span>
                            </p>
                            <p *ngIf="selectedAreaUnit === 0">
                                За третиране на {{ area }} <span *ngIf="area === 1">кв. метър</span><span *ngIf="area !== 1">кв. метра</span>
                            </p> -->
                            <p *ngIf="calculationResult">{{ calculationResult }} {{ resultUnits }}</p>
                        </fieldset>
                    </div>
                </div>
                <div class="div-sell instructions">
                    <h2>УПЪТВАНЕ</h2>
                    <p>
                        С този калкулатор може да изчислите необходимото Ви количество Продукт за 
                        Растителна Защита (ПРЗ) за третиране на избраната от Вас площ. 
                        <span class="bold">За правилното изчисление и съответно за най-доброто действие 
                        на продукта, трябва да спазите стриктно регистрираните дози. За тази цел направете 
                        проверка в списъка с разрешените ПРЗ или с етикета на продукта.</span>
                    </p>
                    <hr>
                    <p>1. Попълва се полето <span class="bold">"Доза"</span> - въвеждат се само цифри.</p>
                    <p>2. Избира се мерната единица. Както е изписана върху етикета на продукта.</p>
                    <br>
                    <p>
                        <span class="bold">Пример 1:</span> Продукт регистриран при череша, 
                        срещу Листозавивачки в доза 33,3 мл/дка. В полето <span class="bold">"Доза"</span> 
                        се изписва 33,3 и се избира "мл/дка".
                        <br>
                        <span class="bold">Пример 2:</span> Продукт регистриран при картофи, срещу Картофен 
                        молец в доза 0,03 л/дка. В полето <span class="bold">"Доза"</span> се изписва 0.03 и 
                        се избира "л/дка".
                        <br>
                        <span class="bold">Пример 3:</span> Продукт регистриран при зеленчуци, срещу 
                        Зелена прасковена листна въшка в доза 0,06%. В полето 
                        <span class="bold">"Доза"</span> се изписва 0,06 и се избира "%".

                    </p>
                    <p class="if-correct">Ако въведените данни са коректни, калкулаторът ще Ви покаже съобщение с избраната от Вас доза.</p>
                    <hr>
                    <p>
                        В секция <span class="bold">"Данни за площта"</span> се въвеждат данните 
                        за площта, която искате да третирате в квадратни метри или в декари.
                    </p>
                    <p>3. Попълва се полето <span class="bold">"Площ"</span> - въвеждат се само цифри.</p>
                    <p>4. Избира се мерната единица за площта.</p>
                    <p class="if-correct">
                        Ако въведените данни са коректни, калкулаторът ще Ви покаже съобщение с 
                        избраната от Вас площ, която ще се третира.
                    </p>
                    <br>
                    <p>Бутонът <span class="text-btn">"  =  "</span> ще бъде активен.</p>
                </div>
            </div>
        </div>
    </div>
</article>
