<article>
    <div class="h1-wrap">
        <hr class="h1-line-top">
        <h1>
            КАЛКУЛАТОР<br/>
            Калкулатор за изчисляване на необходимото количество от Продукт за Растителна Защита за единица площ.
        </h1>
        <hr class="h1-underline">
    </div>

    <div class="h1-wrap">
        <div class="div-table ">
            <div class="div-table-row">
                <div class="div-sell container">
                    <h2>КАЛКУЛАТОР</h2>
                    <form class="create-form" [formGroup]="calculatorForm"  (ngSubmit)="onSubmit(calculatorForm.value)">
                        <fieldset class="fieldset">
                            <legend>Данни за дозата:</legend>
                            <div class="wrap-dose">
                                <div class="dose-input-div" >
                                    <label for="dose" class="label-for-dose">Доза:</label>
                                    <input type="number" 
                                        [(ngModel)] = "dose"
                                        formControlName = "dose"
                                        class="dose-input" id="dose"
                                        required min="0.01" max="999999" maxlength="6">
                                </div>
                                <div class="dose-radio-div" >
                                    <label id="dose-radio-group-label">Избери мерната единица!</label>
                                    <mat-radio-group
                                        aria-labelledby="dose-radio-group-label"
                                        class="example-radio-group cal-row"
                                        name="units"
                                        [(ngModel)]="selectedUnit"
                                        formControlName = "units"
                                        required>
                                        <mat-radio-button class="example-radio-button num"  *ngFor="let unit of units; index as i" [value]="i">
                                            {{unit}}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div class="inform-div" *ngIf="calculatorForm.get('dose').invalid || calculatorForm.get('units').invalid ">
                                <p class="text-danger">Въведи желаната доза и избери мерната единица!</p>
                            </div>
                            <div class="inform-div" *ngIf="calculatorForm.get('dose').valid && calculatorForm.get('units').valid " >
                                <ul *ngFor="let unit of units; index as i">
                                    <li *ngIf="i === 0 && i === selectedUnit && dose != 1" class="text-success">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">thumb_up</mat-icon>
                                        Избрана е доза - {{ dose }} милилитра на декар
                                    </li>
                                    <li *ngIf="i === 0 && i === selectedUnit && dose === 1" class="text-success">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">thumb_up</mat-icon>
                                        Избрана е доза - {{ dose }} милилитър на декар
                                    </li>

                                    <li *ngIf="i === 1 && i === selectedUnit && dose != 1" class="text-success">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">thumb_up</mat-icon>
                                        Избрана е доза - {{ dose }} литра на декар
                                    </li>
                                    <li *ngIf="i === 1 && i === selectedUnit && dose === 1" class="text-success">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">thumb_up</mat-icon>
                                        Избрана е доза - {{ dose }} литър на декар
                                    </li>

                                    <li *ngIf="i === 2 && i === selectedUnit && dose != 1" class="text-success">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">thumb_up</mat-icon>
                                        Избрана е доза - {{ dose }} грама на декар
                                    </li>
                                    <li *ngIf="i === 2 && i === selectedUnit && dose === 1" class="text-success">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">thumb_up</mat-icon>
                                        Избрана е доза - {{ dose }} грам на декар
                                    </li>

                                    <li *ngIf="i === 3 && i === selectedUnit && dose != 1" class="text-success">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">thumb_up</mat-icon>
                                        Избрана е доза - {{ dose }} килограма на декар
                                    </li>
                                    <li *ngIf="i === 3 && i === selectedUnit && dose === 1" class="text-success">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">thumb_up</mat-icon>
                                        Избрана е доза - {{ dose }} килограм на декар
                                    </li>

                                    <li *ngIf="i === 4 && i === selectedUnit && dose >= 10"class="text-danger">
                                        ВНИМАНИЕ! Няма продукт с такава регистрация! 
                                    </li>
                                    <li *ngIf="i === 4 && i === selectedUnit && dose < 10 "class="text-success">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">thumb_up</mat-icon>
                                        Избрана е доза - {{ dose }} процентен разтвор
                                    </li>
                                    <li *ngIf="i >= 5" class="text-danger">
                                        Въведи коректни данни
                                    </li>
                                  </ul>
                            </div>
                        </fieldset>

                        <fieldset class="fieldset">
                            <legend>Данни за площа:</legend>
                            <div class="wrap-area">
                                <div class="area-input-div" >
                                    <label for="area" class="label-for-area">Площ:</label>
                                    <br>
                                    <input type="number" 
                                        [(ngModel)] = "area"
                                        formControlName = "area"
                                        class="area-input" id="area"
                                        required min="1" max="9999999" maxlength="7">
                                </div>
                                <div class="area-radio-div" >
                                    <label id="area-radio-group-label">Избери мерната единица!</label>
                                    <mat-radio-group
                                        aria-labelledby="area-radio-group-label"
                                        class="example-radio-group cal-row"
                                        name="areaUnits"
                                        [(ngModel)]="selectedAreaUnit"
                                        formControlName = "areaUnits"
                                        required>
                                        <mat-radio-button class="example-radio-button num"  *ngFor="let unit of areaUnits; index as i" [value]="i" >
                                            {{unit}}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div class="inform-div" *ngIf="calculatorForm.get('area').invalid || calculatorForm.get('areaUnits').invalid ">
                                <p class="text-danger">Въведи площта която ще се третира и избери мерната единица!</p>
                            </div>
                            <div class="inform-div" *ngIf="calculatorForm.get('area').valid && calculatorForm.get('areaUnits').valid " >
                                <ul *ngFor="let unit of areaUnits; index as i">
                                    <li *ngIf="i === 0 && i === selectedAreaUnit && area != 1" class="text-success">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">thumb_up</mat-icon>
                                        Площ за третиране - {{ area }} квадратни метра
                                    </li>
                                    <li *ngIf="i === 0 && i === selectedAreaUnit && area === 1" class="text-success">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">thumb_up</mat-icon>
                                        Площ за третиране - {{ area }} квадратен метрър
                                    </li>

                                    <li *ngIf="i === 1 && i === selectedAreaUnit && area != 1" class="text-success">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">thumb_up</mat-icon>
                                        Площ за третиране - {{ area }} декара
                                    </li>
                                    <li *ngIf="i === 1 && i === selectedAreaUnit && area === 1" class="text-success">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">thumb_up</mat-icon>
                                        Площ за третиране - {{ area }} декар
                                    </li>
                                    <li *ngIf="i >= 2" class="text-danger"> 
                                        Въведи коректни данни
                                    </li>
                                  </ul>
                            </div>
                        </fieldset>

                        <fieldset class="fieldset fieldset-btn">
                            <div class="btn-wrapp">
                                <button mat-raised-button class="btn" color="primary" type="submit" [disabled]="!calculatorForm.valid"> = </button>
                                <!-- <button mat-raised-button color="accent">Accent</button> -->
                                <button mat-raised-button class="btn" color="warn" (click)="onReset()"> C </button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="div-sell instructions">
                    <h2>УПЪТВАНЕ</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta totam 
                        deleniti eligendi corporis. Earum quo magnam architecto nulla eaque sint, 
                        ex laboriosam atque quidem labore, corrupti ullam omnis amet facilis?
                    </p>
                    <p>Tets</p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta totam 
                        deleniti eligendi corporis. Earum quo magnam architecto nulla eaque sint, 
                        ex laboriosam atque quidem labore, corrupti ullam omnis amet facilis?
                    </p>
                    <p>Tets</p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta totam 
                        deleniti eligendi corporis. Earum quo magnam architecto nulla eaque sint, 
                        ex laboriosam atque quidem labore, corrupti ullam omnis amet facilis?
                    </p>
                </div>
            </div>
        </div>
    </div>
</article>
