.danger {
    color: #b60000;
    font-weight: bolder;
}

.bold {
    font-weight: bolder;
}
.italic {
    font-style: italic;
}
.underline {
    text-decoration: underline;
}
p {
    margin: 5px 0;
}
a {
    text-decoration: none;
}

article {
    overflow: hidden;
    min-height: 1000px;
}

h1, h2 {
    color: #006500;
    text-align: center
}

.text {
    font-weight: bolder;
    color: #ffffff;
}

.h1-wrap {
    max-width: 1200px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    .h1-line-top {
        box-shadow: 0px -2px #e2e1e1;
    }

    .h1-underline {
        box-shadow: 0px 2px #e2e1e1;
    }
}

.div-table {
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
    // border: solid 2px green;
    .div-table-row {
        display: table-row;
        .div-sell {
            display: table-cell;
            // border: solid 2px green;
            vertical-align: top;
            h2 {
                font-size: 1.3em;
                margin-top: 10px;
                margin-bottom: 5px;
            }
        }
    }
}

.fieldset {
    margin-top: 10px;
    margin-bottom: 10px;
    // border: 1px solid rgb(83, 118, 50);
    border: 1px solid #dc7001;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
//   -webkit-box-shadow: -1px 8px 8px 1px rgba(123, 144, 169, 1);
//   -moz-box-shadow: -1px 8px 8px 1px rgba(123, 144, 169, 1);
//   box-shadow: -1px 8px 8px 1px rgba(123, 144, 169, 1);

    -webkit-box-shadow: -1px 8px 8px 1px rgb(161, 161, 161, 1);
    -moz-box-shadow: -1px 8px 8px 1px rgba(161, 161, 161, 1);
    box-shadow: -1px 8px 8px 1px rgba(161, 161, 161, 1);
}
.fieldset-btn {
    text-align: center;
}
.wrap-dose, .wrap-area {
    // display: table-row;
    .dose-input-div, .dose-radio-div, .area-input-div, .area-radio-div {
        vertical-align: top;
    }
    .dose-input-div, .area-input-div {
        mat-form-field {
          width: 100%;
        }
    }
    .area-input-div, .area-radio-div {
        display: table-cell;
    }
    .area-input-div {
        width: 60%;
        padding-right: 10px;
    }

    .label-for-dose, .label-for-area {
      margin-right: 20px;
    }
    .dose-input, .area-input, .valid {
        // width: 70%;
        height: 25px;
        background-color: #ffffff;
        border: 1px solid  rgb(83, 118, 50);
        // border: 1px solid  #dc7001;
        border-radius: 5px;
        background: #ecf0f1;
        cursor: pointer;
        -webkit-box-shadow: -1px 8px 8px 1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -1px 8px 8px 1px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.75);
        padding: 5px;
        margin-bottom: 20px;
        // float: right;
        font-size: 1em;
    }
    .dose-input {
        width: 70%;
    }
    .area-input {
        width: 100%;
    }
    .errors-input {
        border: 1px solid  red;
    }

}

.inform-div {
    width: 98%;
    // background-color: rgb(129, 129, 129);
    background-color: #ecf0f1;
    height: 40px;
    margin-top: 10px;
    // margin-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid rgb(100, 100, 100);
    ul {
        text-decoration: none;
        margin: 0;
        padding: 0;
        li {
            margin: 0;
            padding: 0;
            list-style-type: none;
            color: green;
            font-weight: bolder;
            mat-icon {
                position: relative;
                top: 4px;
                margin-right: 5px;
            }
        }
        .text-success {
            padding-top: 3px;
        }
        .text-danger {
            padding-top: 12px;
            color: #b60000;
        }
    }
    .text-danger {
        padding-top: 7px;
        color: #b60000;
    }
}

label, legend {
  font-size: 0.9em;
//   color: rgb(60 105 18);
  color: #3f51b5;
  font-weight: bolder;
}

// fieldset {
//     legend {
//         background-color: #dcdcdc;
//         border-radius: 10px;
//         border-top: 1px solid #dc7001 ;
//     }
// }

// .example-radio-group {
//   display: flex;
//   // flex-direction: column;
//   margin: 15px 0;
// }

// .example-radio-button {
//   margin: 5px;
// }


.container{
//   width: 600px;
    width: 55%;
    height: auto;
    // border: 1px solid #0086FF;
    // border: 1px solid rgb(83, 118, 50);
    border: 1px solid #dc7001;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
//   -webkit-box-shadow: -1px 8px 8px 1px rgba(123, 144, 169, 1);
//   -moz-box-shadow: -1px 8px 8px 1px rgba(123, 144, 169, 1);
//   box-shadow: -1px 8px 8px 1px rgba(123, 144, 169, 1);

    -webkit-box-shadow: -1px 8px 8px 1px rgb(161, 161, 161, 1);
    -moz-box-shadow: -1px 8px 8px 1px rgba(161, 161, 161, 1);
    box-shadow: -1px 8px 8px 1px rgba(161, 161, 161, 1);
    padding: 0 10px;
    background-color: #dcdcdc;
  // background-color: #de9d62;
}


.cal-row{
  display: flex;
  justify-content: left;
  align-items: center;
}

.cal-row .num{
    width: 80px;
    height: 20px;
    margin: 5px;
    // font-size: 25px;
    // font-weight: 400;
    border: none;
    border: 1px solid  rgb(83, 118, 50);
    border-radius: 5px;
    background: #ecf0f1;
    cursor: pointer;
    -webkit-box-shadow: -1px 8px 8px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 8px 8px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.75);
    padding: 2px;
}

.cal-row .num:focus{
  outline: none;
}

.btn-wrapp .btn{
    // width: 80px;
    // height: 20px;
    margin: 5px;
    // font-size: 25px;
    // font-weight: 400;
    border: none;
    border: 1px solid  rgb(83, 118, 50);
    border-radius: 5px;
    // background: #ecf0f1;
    cursor: pointer;
    -webkit-box-shadow: -1px 8px 8px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 8px 8px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.75);
    padding: 2px;
}

.instructions {
    padding: 0 20px;
}




