
<h2 >Резултат</h2>
<!-- <h2 mat-dialog-title>area {{data.area}} {{calcAreaUnits}}</h2> -->
<!-- <h2 mat-dialog-title>areaUnits {{data.areaUnits}}</h2> -->

<div mat-dialog-content>
  <p>За третиране на<br> {{data.area}} {{calcAreaUnits}}</p>
  <!-- <p>{{data.area}} {{calcAreaUnits}}</p> -->
  <p>С доза {{data.dose}} {{doseUnits}}</p>
  <!-- <p>{{data.dose}} {{doseUnits}}</p> -->
  <p>Са необходими </p>
  <h1 mat-dialog-title>RESULT {{data.calc}}</h1>
  <!-- <p>What's your favorite animal?</p> -->
  <!-- <mat-form-field>
    <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data.area">
  </mat-form-field> -->
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
</div>