<mat-dialog-content>
  <p>
    <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi temporibus repellendus vero magni? Omnis ducimus adipisci excepturi! Voluptatibus delectus itaque quaerat porro quam impedit molestiae error sint inventore. Eum, asperiores.</span>
    <span>Non neque a adipisci expedita placeat tempore consectetur, nesciunt quidem, voluptate sequi facere maxime! Repudiandae expedita, quaerat quidem dolore laudantium tempora et exercitationem maiores quas delectus odio quae deleniti sunt!</span>
    <span>Mollitia, quo quaerat! Veritatis veniam ipsa debitis, eligendi maxime repellendus tempore amet dolorem eveniet. Reiciendis ullam sunt minus neque dolorem qui? Culpa itaque nesciunt corporis quasi? Dolorum vero ratione voluptates!</span>
    <span>Quasi expedita fugit, tempore praesentium aspernatur, qui facilis repudiandae nam, sapiente delectus laudantium dolorem. Expedita aperiam praesentium esse ipsum? Fugit et in atque voluptate asperiores perspiciatis consequuntur qui quo eveniet.</span>
    <span>Neque quos hic aspernatur quaerat nulla minus reiciendis unde vel culpa consequatur ex, at expedita, quidem dolores maxime consectetur! Reprehenderit harum nostrum corrupti facilis accusantium! Laudantium magni ea officia voluptatum!</span>
    <span>Est voluptatum numquam voluptatem, quaerat omnis magni maiores veritatis, vero rerum delectus sunt suscipit laudantium unde optio! Assumenda quod exercitationem, officia quae vitae labore modi, ea facilis, corporis distinctio reiciendis.</span>
    <span>Atque modi est voluptatem sapiente voluptates praesentium repudiandae. Sapiente, nihil? Nisi nobis libero suscipit quasi nesciunt! Nobis eveniet incidunt quidem in error. Perferendis perspiciatis aut voluptas sapiente commodi quibusdam deleniti!</span>
    <span>Sapiente quam ut id consequatur, voluptate nam. Quis eos, alias nostrum id totam ut porro accusantium veniam quibusdam deleniti ratione. Est corrupti, sapiente dolor nostrum modi ex officia minima voluptatem.</span>
    <span>Dignissimos quas maxime accusantium minus aut consectetur deleniti architecto eos laborum, soluta perferendis sed temporibus nesciunt aperiam quasi vero libero. Officia nemo expedita rem accusantium, voluptates consectetur repudiandae ea perspiciatis.</span>
    <span>Doloremque ipsum quis nemo enim minima perspiciatis corrupti hic explicabo natus, repudiandae consequatur dolorem quidem quos ad nesciunt quas. Fuga qui vero suscipit repellendus, atque at fugiat molestias eius voluptatum.</span>
  </p>
  <!-- <div class="dialog-header">
    <h2 [innerHTML]="data.data.name| safeHtml"></h2>
  </div>
  <mat-card class="example-card card-top">
    <mat-card-content>
      <p>Лицето, което пуска на пазара:</p>
      <p class="bold" [innerHTML]="data.data.owner| safeHtml"></p>
      <hr *ngIf="data.data.orderAdjuvant !== undefined">
      <p class="bold" *ngIf="data.data.orderAdjuvant !== undefined">{{ data.data.orderAdjuvant }}</p>
    </mat-card-content>
  </mat-card> -->

  <mat-card class="example-card card-top">
    <mat-card-content>
      <!-- <div class="my-header">
        <p class="bold">ДАННИ ЗА ПРОДУКТА</p>
      </div>
      <hr>
      <p class="bold">Тип формулация:</p>
      <p>{{ data.data.type }}</p>
      <hr>
      <p class="bold">Начин на действие:</p>
      <p [innerHTML]="data.data.action | safeHtml"></p>

      <hr *ngIf="data.data.crops !== undefined">
      <p class="bold" *ngIf="data.data.crops !== undefined">Култури:</p>
      <p *ngIf="data.data.crops !== undefined" [innerHTML]="data.data.crops | safeHtml"></p>

      <hr>
      <p class="bold">Доза на приложение:</p>
      <p [innerHTML]="data.data.dose | safeHtml"></p>

      <hr *ngIf="data.data.application !== undefined">
      <p class="bold" *ngIf="data.data.application !== undefined">Употреба с други ПРЗ:</p>
      <p [innerHTML]="data.data.application | safeHtml" *ngIf="data.data.application !== undefined"></p>

      <p class="bold" *ngIf="data.data.noteApplication !== undefined">Забележка:</p>
      <p class="noteApplication" [innerHTML]="data.data.noteApplication | safeHtml"
        *ngIf="data.data.noteApplication !== undefined"></p> -->
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()" matTooltip="Затвори">
    <mat-icon aria-label="Назад">power_settings_new</mat-icon>
    <span> Затвори</span>
  </button>
</mat-dialog-actions>
