/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.bold {
    font-weight: bolder;
}
body {
    font-family: Roboto , sans-serif;

    .cdk-overlay-pane {
        max-width: 90vw !important
    }
}
