// @import "~bootstrap/dist/css/bootstrap.min.css";
// @import "../../../node_modules/font-awesome/scss/font-awesome.scss";

$heading-font: 'Poppins', sans-serif;
// transition
@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

/*==================
	CAROUSEL
====================*/
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-height: 600px;
  position: relative;
  margin: auto;
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  right: 0;
}
/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #97b568;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #527532;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 6.5s;
  animation-name: fade;
  animation-duration: 6.5s;
}
@-webkit-keyframes fade {
  from {opacity: .9}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .9}
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
#carosel-wrap {
  position: relative;
  top: -160px;
  z-index: -500;
}


/*==================
	SLIDER IN CAROUSEL
====================*/

.aa-top-slider-content		{
  background-color: rgba(255, 255, 255, 0.8);
  left: 20%;
  padding: 30px;
  position: absolute;
  top: 40%;
  z-index: 999;
  .aa-top-slider-catg{
    font-family: $heading-font;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #555;
    line-height: 25px;
  }
  .aa-top-slider-title{
    color: #555;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 5px;
    text-transform: uppercase;
  }
  .aa-top-slider-location{
    font-size: 14px;
    i{
      margin-right: 5px;
    }
  }
  .aa-top-slider-off{
    font-size: 14px;
    font-family: $heading-font;
    color: #555;
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
  }
  .aa-top-slider-price{
    font-family: $heading-font;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -5px;
  }
  .aa-top-slider-btn{
    display: inline-block;
    @include transition(all 0.5s);
    text-transform: uppercase;
    font-size: 15px;
    span{
      margin-left: 3px;
    }
  }
}

/*==================
	ABOUT US SECTION
====================*/
#aa-about-us{
  position: relative;
  top: -50px;
	display: inline;
	// float: left;
	width: 100%;
	.aa-about-us-area{
		display: inline;
		// float: left;
		width: 100%;
		padding: 100px 0;
		.aa-about-us-left{
			display: inline;
			float: left;
			width: 100%;
			img{
				width: 100%;
			}
		}
		.aa-about-us-right{
			display: inline;
			float: left;
			width: 100%;
			ul{
				margin-left: 30px;
				li{
					font-style: italic;
					list-style: circle;
					margin-bottom: 5px;
				}
			}
		}
	}
}
.aa-title{
	display: inline;
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
	p{
		font-size: 18px;
		padding: 0 50px;
	}
	span{
		width: 2px;
		height: 15px;
		display: inline-block;
    position: relative;
    background-color: #008000;
		&:before{
			content: '';
			right: 4px;
			top: 7px;
			position: absolute;
			width: 100px;
      height: 2px;
      background-color: #008000;
		}
		&:after{
			content: '';
			left: 4px;
			top: 7px;
			position: absolute;
			width: 100px;
      height: 2px;
      background-color: #008000;
		}

  }
}

/*==================
 SERVICE SECTION
====================*/
#aa-service{
	display: inline;
	// float: left;
	width: 100%;
	padding: 100px 0;
	.aa-service-area{
		display: inline;
		// float: left;
		width: 100%;
		.aa-service-content{
			display: inline;
			float: left;
			width: 100%;
			margin-top: 40px;
			.aa-single-service{
				display: inline;
				float: left;
				text-align: center;
				width: 100%;
				&:hover{
					.aa-service-icon{
						&:before{
							border: 2px solid #fff;
						}
					}
				}
				.aa-service-icon{
					display: inline;
					float: left;
					width: 100%;
					margin-bottom: 20px;
					position: relative;

					&:before{
							border: 2px solid transparent;
							border-radius: 50%;
							content: "";
							height: 100px;
							margin-left: 4px;
							position: absolute;
							width: 92px;
							@include transition(all 0.5s);

						}
					span{
						border-radius: 50%;
						color: #fff;
						font-size: 40px;
						height: 100px;
						line-height: 100px;
						width: 100px;
            background-color: #527532;
					}
				}
				.aa-single-service-content{
					display: inline;
					float: left;
					width: 100%;
					h4{
						font-size: 20px;
						a{
							@include transition(all 0.5s);
						}
					}
					p{
            font-size: 13px;
            a{
              @include transition(all 0.5s);
						}
					}
				}
			}
		}
	}
}

/*==================
 PROMO BANNER SECTION
====================*/

#aa-promo-banner{
	background-image: url("../../assets/img/slider/1.jpg");
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	display: inline;
	float: left;
	width: 100%;
	padding: 100px 0;
  position: relative;
  margin-bottom: 40px;
	&:before{
		background-color: rgba(0,0,0,0.6);
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;

	}
	.aa-promo-banner-area{
		display: inline;
		float: left;
		width: 100%;
		padding: 0 150px;
		text-align: center;
		h3{
			color: #fff;
			font-size: 40px;
			font-weight: 700;
			margin-bottom: 20px;
			text-transform: capitalize;
		}
		p{
			color: #fff;
			display: inline-block;
			font-size: 16px;
			margin-top: 10px;
		}
		a{
			font-weight: bold;
			margin-top: 50px;
			text-transform: uppercase;
		}
	}
}

#wrapper-carousel {
  margin-bottom: 50px;
}

