<article>
    <div class="h1-wrap">
        <hr class="h1-line-top">
        <h1>
            ДОКУМЕНТИ<br/>
            По-важни документи, заявления, декларации, полезни връзки и др., свързани с работата на земеделските стопани и търговци на ПРЗ.
        </h1>
        <hr class="h1-underline">
    </div>

    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" >
        <mat-tab>
            <ng-template mat-tab-label class="label-0" >
                <span class="text big-text">ЗЕМЕДЕЛСКИ СТОПАНИ</span>
                <span class="text small-text">ЗЕМЕДЕЛЦИ</span>
            </ng-template>
            <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel expanded>
                    <mat-expansion-panel-header>
                        <mat-panel-title>ДНЕВНИЦИ</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="my-div-border-top">
                        <p >
                            <span class="danger" >ВНИМАНИЕ! </span> <span class="bold underline"> Земеделските производители, които не водят
                            дневници, носят наказателна отговорност по Закона за защита на растенията и Наредба 104 от 22 август 2006г.!</span>
                        </p>
                        <ol>
                            <li>
                                Дневник за проведените растителнозащитни мероприятия и торене
                                <div>
                                    <div class="my-wrapp-link pdf-wrapp">
                                        <a class="href_doc "
                                            rel="noopener noreferrer" target="_blank"
                                            href="../../assets/documents/diary/Дневник_мероприятия.pdf"
                                        >
                                            <span >
                                                <img class="icon" src="../../assets/documents/icons/icons8-pdf-20.png" alt="icon pdf file" title="Icon pdf file" width="20" height="20"/>
                                            </span>
                                            <span >Вариант 1</span>
                                        </a>
                                    </div>
                                    <div class="my-wrapp-link word-wrapp">
                                        <a class="href_doc "
                                            rel="noopener noreferrer" target="_blank"
                                            href="../../assets/documents/diary/Dnevnik_ZP_1.doc"
                                        >
                                            <span >
                                                <img class="icon" src="../../assets/documents/icons/icons8-microsoft-word-20.png" alt="icon word file" title="Icon word file" width="20" height="20"/>
                                            </span>
                                            <span >Вариант 2</span>
                                        </a>
                                    </div>
                                </div>
                                <hr class="hr-in-li">
                            </li>
                            <li>
                                Дневник за появата, развитието, плътността или степен на нападение от вредители
                                <div>
                                    <div class="my-wrapp-link pdf-wrapp">
                                        <a class="href_doc "
                                            rel="noopener noreferrer" target="_blank"
                                            href="../../assets/documents/diary/Дневник_вредители.pdf"
                                        >
                                            <span >
                                                <img class="icon" src="../../assets/documents/icons/icons8-pdf-20.png" alt="icon pdf file" title="Icon pdf file" width="20" height="20"/>
                                            </span>
                                            <span >Вариант 1</span>
                                        </a>
                                    </div>
                                    <div class="my-wrapp-link word-wrapp">
                                        <a class="href_doc "
                                            rel="noopener noreferrer" target="_blank"
                                            href="../../assets/documents/diary/orz-dnevnik_2.doc"
                                        >
                                            <span >
                                                <img class="icon" src="../../assets/documents/icons/icons8-microsoft-word-20.png" alt="icon word file" title="Icon word file" width="20" height="20"/>
                                            </span>
                                            <span >Вариант 2</span>
                                        </a>
                                    </div>
                                </div>
                                <hr class="hr-in-li">
                            </li>
                            <li>
                                Дневник на взетите проби и извършени анализи от растения и растителни продукти
                                <div>
                                    <div class="my-wrapp-link pdf-wrapp">
                                        <a class="href_doc "
                                            rel="noopener noreferrer" target="_blank"
                                            href="../../assets/documents/diary/Дневник_проби.pdf"
                                        >
                                            <span >
                                                <img class="icon" src="../../assets/documents/icons/icons8-pdf-20.png" alt="icon pdf file" title="Icon pdf file" width="20" height="20"/>
                                            </span>
                                            <span >Вариант 1</span>
                                        </a>
                                    </div>
                                    <div class="my-wrapp-link word-wrapp">
                                        <a class="href_doc "
                                            rel="noopener noreferrer" target="_blank"
                                            href="../../assets/documents/diary/orz-dnevnik_3.doc"
                                        >
                                            <span >
                                                <img class="icon" src="../../assets/documents/icons/icons8-microsoft-word-20.png" alt="icon word file" title="Icon word file" width="20" height="20"/>
                                            </span>
                                            <span >Вариант 2</span>
                                        </a>
                                    </div>
                                </div>
                                <hr class="hr-in-li">
                            </li>
                            <!-- <li>
                                Подробна инструкция как правилно да се попълнят Дневниците.
                                <br>
                                <a class="href_doc "
                                    rel="noopener noreferrer" target="_blank"
                                    href="../../assets/documents/diary/orz-dnevnik_3.doc"
                                >
                                    <span>
                                        <img class="icon" src="../../assets/documents/icons/icons8-pdf-20.png" alt="icon pdf file" title="Icon pdf file" width="20" height="20"/>
                                    </span>
                                    <span >ИНСТРУКЦИЯ</span>
                                </a>
                            </li> -->
                        </ol>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>ЗАЯВЛЕНИЯ</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="my-div-border-top">
                        <ul>
                            <li>
                                <a class="href_doc "
                                    rel="noopener noreferrer" target="_blank"
                                    href="../../assets/documents/application/Заявление_за издаване на становище.doc"
                                >
                                Заявление за издаване на Становище за Предоставяне на безвъзмездна финансова помощ по Програма за развитие на селските райони.
                                </a>
                            </li>
                            <li>
                                <a class="href_doc "
                                    rel="noopener noreferrer" target="_blank"
                                    href="../../assets/documents/application/Заявление_за издаване на Сертификат чл.83 от ЗЗР.doc"
                                >
                                Заявление за издаване на Сертификат за използване на ПРЗ по чл.83 от ЗЗР.
                                </a>
                            </li>
                            <li class="pdf-icon">
                                <a class="href_doc "
                                    rel="noopener noreferrer" target="_blank"
                                    href="../../assets/documents/application/Spisak-31.07.2020.pdf"
                                >
                                Списък на висшите училища и институции в системата на професионалното
                                образование и обучение, които имат одобрени от изпълнителния директор на
                                БАБХ програми на тема "Обучение на професионални потребители на продукти за
                                растителна защита от професионална категория на употреба".
                                </a>
                                <hr class="hr-in-li">
                            </li>
                            <li >
                                <a class="href_doc "
                                    rel="noopener noreferrer" target="_blank"
                                    href="../../assets/documents/application/_ККППЗ(1).docx"
                                >
                                Заявка за извършване на контрол на качеството на пресни плодове и зеленчуци по желание на търговец/производител.
                                </a>
                                <hr class="hr-in-li">
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a class="href_doc "
                                    rel="noopener noreferrer" target="_blank"
                                    href="../../assets/documents/application/за регистрация.doc"
                                >
                                Заявление за регистрация в Официалния регистър на професионалните
                                оператори – Приложение 2 към Заповед № РД 11-1601/09.07.2020 г.
                                </a>
                            </li>
                            <li>
                                <a class="href_doc "
                                    rel="noopener noreferrer" target="_blank"
                                    href="../../assets/documents/application/фитосанитарна проверка.doc"
                                >
                                Заявление за извършване на фитосанитарна проверка и издаване на фитосанитарен сертификат.
                                </a>
                            </li>
                            <li>
                                <a class="href_doc "
                                    rel="noopener noreferrer" target="_blank"
                                    href="../../assets/documents/application/фитосанитарен контрол.doc"
                                >
                                Заявление за извършване на фитосанитарен контрол и издаване на растителен
                                паспорт (РП) или заменен растителен паспорт (ЗП) - Приложение 17 към
                                Заповед № РД 11-1601/09.07.2020 г.
                                </a>
                                <hr class="hr-in-li">
                            </li>
                        </ul>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>ДЕКЛАРАЦИИ</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="my-div-border-top">
                        <p class="bold">Национална програма от мерки за контрол на доматен миниращ молец <span class="italic">Tuta absoluta</span></p>
                        <ul>
                            <li>
                                <a class="href_doc "
                                    rel="noopener noreferrer" target="_blank"
                                    href="../../assets/documents/declarations/Deklaracia_ZP_nepriateli_Tuta-2019.doc"
                                >
                                    Декларация относно размера на нападнатите площи и установената плътност
                                    на вредителите по "Национална програма от мерки за контрол на доматен
                                    миниращ молец (<span class="italic">Tuta absoluta Meyrick</span> ) (25.10.2019г.)
                                </a>
                            </li>
                            <li>
                                <a class="href_doc "
                                    rel="noopener noreferrer" target="_blank"
                                    href="../../assets/documents/declarations/Deklaracia_ZP_PRZ_2019.doc"
                                >
                                    Образец на Декларация за вложените количества ПРЗ, разрешени според
                                    „Национална програма от мерки за контрол на доматен миниращ молец
                                    <span class="italic">Tuta absoluta Meyrick</span> (<span class="italic">Lepidoptera</span>)” (25.10.2019г.)
                                </a>
                            </li>
                        </ul>
                    </div>
                    <hr class="hr-in-li">
                    <div >
                        <p class="bold">Национална програма от мерки за контрол на неприятели по картофи</p>
                        <ul>
                            <li class="pdf-icon">
                                <a class="href_doc "
                                    rel="noopener noreferrer" target="_blank"
                                    href="../../assets/documents/declarations/2-Deklaracia_ZP_nepriateli_Elateridae-2018.pdf"
                                >
                                Декларация относно размера на нападнатите площи и установената плътност на
                                вредителите по „Национална програма от мерки за контрол на почвени
                                неприятели по картофите от сем. Телени червеи (<span class="italic">Elateridae</span>) (12.3.2018г.)
                                </a>
                            </li>
                            <li class="pdf-icon">
                                <a class="href_doc "
                                    rel="noopener noreferrer" target="_blank"
                                    href="../../assets/documents/declarations/3-Deklaracia_ZP_PRZ_Elateridae-2018.pdf"
                                >
                                Декларация за вложените количества ПРЗ, разрешени според "Национална програма
                                от мерки за контрол на почвени неприятели по картофите от сем.
                                Телени червеи (<span class="italic">Elateridae</span>) (15.3.2018г.)
                                </a>
                            </li>
                        </ul>
                    </div>
                    <hr class="hr-in-li">
                    <div >
                        <p class="bold">Национална програма за контрол на вредителите по трайните насаждения</p>
                        <ul>
                            <li>
                                <a class="href_doc "
                                    rel="noopener noreferrer" target="_blank"
                                    href="../../assets/documents/declarations/Зимни.doc"
                                >
                                    ДЕКЛАРАЦИЯ за вложените количества ПРЗ разрешени по: "Национална програма за
                                    контрол на вредителите по трайните насаждения през зимния период" (20.2.2020г.)
                                </a>
                            </li>
                        </ul>
                    </div>
                    <hr class="hr-in-li">
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>ВЪЗДУШНО</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="my-div-border-top">
                        <p class="bold">За получаване на разрешение за прилагане на ПРЗ чрез въздушно пръскане.</p>
                        <ul>
                            <li>
                                <a class="href_doc "
                                    rel="noopener noreferrer" target="_blank"
                                    href="../../assets/documents/air/Заявление въздушно пръскане приложение 1.doc"
                                >
                                    Заявление за получаване на разрешение за прилагане на ПРЗ чрез въздушно пръскане, съгласно чл. 110 от ЗЗР.
                                </a>
                            </li>
                            <li>
                                <a class="href_doc "
                                    rel="noopener noreferrer" target="_blank"
                                    href="../../assets/documents/air/Предписание за прилагане на ПРЗ.doc"
                                >
                                    Предписание за прилагане на ПРЗ чрез въздушно пръскане поради опасност за растенията и растителните продукти.
                                </a>
                            </li>
                            <li>
                                <a class="href_doc "
                                    rel="noopener noreferrer" target="_blank"
                                    href="../../assets/documents/air/Декларация по чл. 110-приложение 2.doc"
                                >
                                    Декларация по чл. 110, ал. 2, т. 4 от Закона за защита на растенията
                                </a>
                            </li>
                            <li>
                                <a class="href_doc "
                                    rel="noopener noreferrer" target="_blank"
                                    href="../../assets/documents/air/Декларация по чл.112-приложение 4.doc"
                                >
                                    Декларация по чл. 112 и чл. 4 от Закона за защита на растенията.
                                </a>
                            </li>
                        </ul>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-tab>

        <mat-tab >
            <ng-template mat-tab-label class="label-0" >
                <span class="text big-text">ТЪРГОВЦИ НА ПРЗ</span>
                <span class="text small-text">ТЪРГОВЦИ</span>
            </ng-template>
            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>ЗАЯВЛЕНИЯ</mat-panel-title>
                </mat-expansion-panel-header>
                <div class="my-div-border-top">
                    <ul>
                        <li>
                            <a class="href_doc "
                                rel="noopener noreferrer" target="_blank"
                                href="../../assets/documents/trade/търговия-ПРЗ.doc"
                            >
                                Заявление за издаване на Удостоверение за търговия с продукти за растителна защита.
                            </a>
                        </li>
                        <li>
                            <a class="href_doc "
                                rel="noopener noreferrer" target="_blank"
                                href="../../assets/documents/trade/преопаковане-ПРЗ.doc"
                            >
                                Заявление за издаване на Удостоверение за преопаковане на продукти за растителна защита.
                            </a>
                        </li>
                        <li>
                            <a class="href_doc "
                                rel="noopener noreferrer" target="_blank"
                                href="../../assets/documents/trade/dnvnik-prodazbi.doc"
                            >
                                Дневник за продажбите на продукти за растителна защита от професионална категория на употреба.
                            </a>
                        </li>
                        <li >
                            <a class="href_doc "
                                rel="noopener noreferrer" target="_blank"
                                href="../../assets/documents/trade/заявление-промяна.doc"
                            >
                                Заявление за промяна в обстоятелствата, свързани с издадено Удостоверение за търговия с продукти за растителна защита
                            </a>
                        </li>
                    </ul>
                </div>
                <mat-action-row>
                    <button mat-button color="primary" (click)="nextStep()">Напред</button>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>УВЕДОМЛЕНИЯ</mat-panel-title>
                </mat-expansion-panel-header>
                <div class="my-div-border-top">
                    <ul>
                        <li>
                            <a class="href_doc "
                                rel="noopener noreferrer" target="_blank"
                                href="../../assets/documents/trade/регистър-фумигация.doc"
                            >
                            Уведомление за вписване в регистъра по чл. 6, ал. 1, т. 9 а. от ЗЗР на
                            лица, които извършват фумигация.
                            </a>
                        </li>
                        <li>
                            <a class="href_doc "
                                rel="noopener noreferrer" target="_blank"
                                href="../../assets/documents/trade/регистър-третиране-семена.doc"
                            >
                            Уведомление за вписване в регистъра по чл. 6, ал. 1, т. 9 б. от ЗЗР на
                            лица, които извършват третиране с ПРЗ на семена за посев.
                            </a>
                        </li>
                        <li>
                            <a class="href_doc "
                                rel="noopener noreferrer" target="_blank"
                                href="../../assets/documents/trade/консултантски-услуги.doc"
                            >
                            Уведомление за вписване в регистъра по чл. 6, ал. 1, т. 9 в. от ЗЗР на
                            лица, които извършват консултантски услуги за интегрирано управление на
                            вредителите
                            </a>
                        </li>
                        <li >
                            <a class="href_doc "
                                rel="noopener noreferrer" target="_blank"
                                href="../../assets/documents/trade/уведомление-промяна.docx"
                            >
                            Уведомление за Промяна в обстоятелствата на вписаните в регистъра по
                            чл. 6, ал. 1, т. 9 от ЗЗР на лица, които извършват специализирани
                            растителнозащитни услуги.
                            </a>
                        </li>
                    </ul>
                </div>
                <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">Назад</button>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-tab>
    </mat-tab-group>

    <div class="h1-wrap">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title class="card-title"><p class="my-card-title">ВХОД В СИСТЕМАТА ЕПОРД</p></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <h2>
                    Регистрация в Електронната платформа за оповестяване на растителнозащитните, 
                    дезинфекционните и дезинсекционните дейности
                </h2>
                <ul >
                    <li class="link link-epord" >
                        <a href="https://epord.bfsa.bg/"
                            alt="link-epord"
                            target="_blank"
                            title="линк към ЕПОРД">
                            <span class="material-icons">link</span>
                            epord.bfsa.bg
                        </a>
                        <hr>
                    </li>
                    <li class="link user_manual">
                        Ръководство за потребителите на Електронната платформа за оповестяване на 
                        растителнозащитните, дезинфекционните и дезинсекционните дейности (ЕПОРД) 
                        <br>
                        <a href="../../assets/documents/Users_manual_EPORD_Rev1.pdf"
                            alt="link-manual"
                            rel="noopener noreferrer"
                            target="_blank"
                            title="линк към ръководство за потребителите">
                            <span class="material-icons">link</span>ТУК
                        </a>
                    </li>
     
                </ul>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="h1-wrap">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title class="card-title"><p class="my-card-title">ПОЛЕЗНИ ВРЪЗКИ</p></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <h2>
                    Полезни линкове към страници на БАБХ и сайтове на национални служби,
                    свързани с растителната защита и използването на ПРЗ.
                </h2>
                <h3>Българска Агенция по Безопасност на Храните (БАБХ)</h3>
                <ul>
                    <li class="link">
                        1. Българска Агенция по Безопасност на Храните (БАБХ) - отдел Растителна защита <br>
                        (Полезни списъци, регистри, линкове и др.)<br>

                        <a href="http://www.babh.government.bg/bg/Object/site_register/view/4/Растителна"
                            alt="link-bfsa"
                            target="_blank"
                            title="линк към БАБХ">
                            <span class="material-icons">link</span>
                            http://www.babh.government.bg/bg/Object/site_register/view/4/Растителна
                        </a>
                        <hr>
                    </li>
                    <li class="link">
                        2. БАБХ - Дирекция "Продукти за растителна защита, торове и контрол" - Заповеди<br>
                        (Заповеди за разрешаване, подновяване, промяна на разрешителното или забрана за ПРЗ)<br>
                        <a href="http://www.babh.government.bg/bg/Page/138/index/138/%D0%94%D0%B8%D1%80%D0%B5%D0%BA%D1%86%D0%B8%D1%8F%20%D0%9F%EF%BF%BD"
                            alt="link-bfsa"
                            target="_blank"
                            title="линк към БАБХ">
                            <span class="material-icons">link</span>
                            http://www.babh.government.bg/bg/Page/138/index/138/Дирекция П
                        </a>
                        <hr>
                    </li>
                    <li class="link">
                        3. БАБХ - Дирекция "Продукти за растителна защита, торове" - Образци на документи<br>
                        (Образци на документи, заявления и др.)<br>
                        <a href="http://www.babh.government.bg/bg/Page/64/index/64/%D0%9F%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%B8%20%D0%B7%EF%BF%BD"
                            alt="link-bfsa"
                            target="_blank"
                            title="линк към БАБХ">
                            <span class="material-icons">link</span>
                            http://www.babh.government.bg/bg/Page/64/index/64/Продукти
                        </a>
                        <hr>
                    </li>
                    <li class="link">
                        4. БАБХ - Дирекция "Растителна защита и контрол на качеството на пресни плодове и зеленчуци"<br>
                        (Заповеди, Списък на икономически важните вредители, ПИВ и др.)<br>
                        <a href="http://www.babh.government.bg/bg/Page/137/index/137/%D0%94%D0%B8%D1%80%D0%B5%D0%BA%D1%86%D0%B8%D1%8F%20%D0%A0%EF%BF%BD"
                            alt="link-bfsa"
                            target="_blank"
                            title="линк към БАБХ">
                            <span class="material-icons">link</span>
                            http://www.babh.government.bg/bg/Page/137/index/137/Дирекция Р
                        </a>
                        <hr>
                    </li>
                    <li class="link">
                        5. БАБХ - Дирекция "Растителна защита и контрол на качеството на пресни плодове и зеленчуци"  - Образци на документи<br>
                        (Образци на документи, заявления и др.)<br>
                        <a href="http://www.babh.government.bg/bg/Page/63/index/63/%D0%A0%D0%B0%D1%81%D1%82%D0%B8%D1%82%D0%B5%D0%BB%D0%BD%D0%B0"
                            alt="link-bfsa"
                            target="_blank"
                            title="линк към БАБХ">
                            <span class="material-icons">link</span>
                            http://www.babh.government.bg/bg/Page/63/index/63/Растителна
                        </a>
                        <hr>
                    </li>
                    <li class="link">
                        6. БАБХ - За земеделските производители<br>
                        (Национални програми от мерки, Указания за прилагане на помощ De minimis и др.)<br>
                        <a href="http://www.babh.government.bg/bg/Page/52/index/52/%D0%97%D0%B0%20%D0%B7%D0%B5%D0%BC%D0%B5%D0%B4%D0%B5%D0%BB%EF%BF%BD"
                            alt="link-bfsa"
                            target="_blank"
                            title="линк към БАБХ">
                            <span class="material-icons">link</span>
                            http://www.babh.government.bg/bg/Page/52/index/52/За земедел
                        </a>
                    </li>
                </ul>
                <br>

                <h3>Държавни институции</h3>
                <ul>
                  <li class="link">
                    1. Министерство на земеделието и храните на Република България<br>
                    <a href="https://www.mzh.government.bg/bg/"
                        alt="link-mzh"
                        target="_blank"
                        title="линк към МЗХ">
                        <span class="material-icons">link</span>
                        www.mzh.government.bg
                    </a>
                    <hr>
                  </li>
                  <li class="link">
                    2. Държавен фонд Земеделие<br>
                    <a href="https://www.dfz.bg/"
                        alt="link-dfz"
                        target="_blank"
                        title="линк към фонд Земеделие">
                        <span class="material-icons">link</span>
                        www.dfz.bg/
                    </a>
                    <hr>
                  </li>
                  <li class="link">
                    3. Национална служба за съвети в земеделието<br>
                    <a href="https://www.naas.government.bg/"
                        alt="link-naas"
                        target="_blank"
                        title="линк към служба за съвети в земеделието">
                        <span class="material-icons">link</span>
                        www.naas.government.bg/
                    </a>
                  </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
</article>
